body {
    font-family: 'Roboto', 'Sans Serif';
    font-size: 16px;
    padding: 0;
    margin: 0;
}

header {
    background-color: #03A9F4;
    padding: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 3px;
}

h1, h2 {
    font-weight: 300;
}

header > h1 {
    font-weight: 300;
    font-size: 24px;
    margin: 0;
    color: #FFFFFF;
}

h2 {
    font-size: 24px;
    margin: 24px 0;
}

#app {
    
}

.userSide {
    text-align: center;
    background-color: #FbFbFb;
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.profilePhoto {
    display: block;
    width: 85%;
    max-width: 185px;
    margin-left: auto;
    margin-right: auto;
}

.profileBio {
    font-size: 11px;
}

.blurbStats {
    background-color: rgba(255,255,255,.75);
    padding-top: 10px;
    padding-bottom: 0px;
}

.friendGrid {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.friendIcon > p {
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgba(255,255,255,.75);
    overflow: hidden;
}

.friendIcon > img {
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 90px;
}

.blurbBox {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
}

.blurb > p {
    text-align: left !important;
    font-size: 11px;
    margin-bottom: 3px;
}

.blurb > h4 {
    text-align: left !important;
    font-size: 12px;
    font-weight: 600;
}

.blurb > pre {
    text-align: left !important;
    font-size: 9px;
    padding: 2px;
    margin: 10px;
}

.blurb > img {
    opacity: 0.75;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.blurb > img:hover {
    opacity: 1.0;
}
